global
  log stdout format raw local0
  maxconn 4096

defaults
  log global
  mode http
  option httplog
  option forwardfor
  timeout connect 5s
  timeout http-request 30s
  timeout http-keep-alive 60s
  timeout client 1h
  timeout server 1h
  timeout tunnel 1h

resolvers docker
  nameserver dns 127.0.0.11:53
  accepted_payload_size 8192
  hold valid 10s

frontend toc_http
  bind *:80
  http-request set-header X-Forwarded-Proto http
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request set-header X-Forwarded-Host %[req.hdr(Host)]
  default_backend lobe_apps

backend lobe_apps
  balance leastconn
  option httpchk GET /signin
  http-check expect status 200
  server lobe lobe:3210 check resolvers docker init-addr libc,none resolve-prefer ipv4
